@use '@/features/editors/components/styles/list-mixins.module.scss' as
  list-mixins;

.purchased-item-list {
  min-width: list-mixins.$min-width-purchased-item-list;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 1px 16px;
  box-sizing: border-box;
  overflow-y: scroll;
}
