@use '@/features/editors/components/styles/list-mixins.module.scss' as
  list-mixins;

.purchased-item-list {
  min-width: list-mixins.$min-width-purchased-item-list;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
