$button-date-space: 20px;
$control-height: 50px;

.date-control-container {
  position: sticky;
  background-color: $header-color;

  height: $header-height;
  width: 100%;
  left: 0px;
  top: 0px;

  .date-control-block {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date-block {
    width: 300px;
    height: $control-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: $text-color;
  }

  .date-button-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .date-button {
    height: calc(#{$header-height} / 2);
    width: 50px;
    color: $button-color;
    background-color: $button-bg-color;
    box-shadow: none;
    border: $button-border-color solid 3px;
    color: $text-color;

    &.right {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &.left {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
}
