$button-date-space: 20px;
$control-height: 50px;

.date-control-container {
  position: sticky;
  background-color: $header-color;

  height: $header-height;
  width: 100%;
  left: 0px;
  top: 0px;

  .date-control-block {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .date-block {
    width: 300px;
    height: $control-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: $text-color;
  }

  .date-button-block {
    justify-content: center;
    align-items: center;
  }

  .date-button {
    height: calc(#{$header-height} / 2);
    width: 50px;
    background-color: $clear-color;
    box-shadow: none;
    border: none;

    .right {
      height: calc(#{$header-height} / 2);
      width: 50px;
      background-image: url('../../resources/right-button.svg');
      mask-repeat: no-repeat;
      cursor: pointer;
    }

    .left {
      height: calc(#{$header-height} / 2);
      width: 50px;
      background-image: url('../../resources/left-button.svg');
      mask-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
