.purchased-item-cell {
  display: flex;
  min-width: calc(#{$cell-min-width} * #{$cell-column-count});
  background-color: white;

  .purchased-item-div {
    width: calc(100% / #{$cell-column-count});
    min-width: $cell-min-width;
    padding: 4px;
    border-top: $cell-border-color-outer solid $cell-boreder-width;

    .delete-button {
      display: block;
      margin: 0 auto;
    }
  }
}

.purchased-item-cell-header {
  display: flex;
  min-width: calc(#{$cell-min-width} * #{$cell-column-count});

  .purchased-item-div-header {
    padding: 4px;
    display: flex;
    width: calc(100% / #{$cell-column-count});
    min-width: $cell-min-width;
    background-color: $header-bg-color;
    color: $cell-border-color-outer;
    text-align: center;
  }
}

.not-edge {
  border-left: $cell-border-color-outer solid calc(#{$cell-boreder-width} / 2);
  border-right: $cell-border-color-outer solid calc(#{$cell-boreder-width} / 2);
}

.start {
  border-right: $cell-border-color-outer solid calc(#{$cell-boreder-width} / 2);
}

.end {
  border-left: $cell-border-color-outer solid calc(#{$cell-boreder-width} / 2);
}
