$width-purchased-item-name: 30%;
$width-purchased-item-type: 25%;
$width-purchased-item-date: 25%;
$width-purchased-item-select: 50px;

$width-purchased-item-price: calc(20% - 50px);

$min-width-purchased-item-name: 200px;
$min-width-purchased-item-price: 150px;
$min-width-purchased-item-type: 200px;
$min-width-purchased-item-date: 150px;
$min-width-purchased-item-select: 30px;

$min-width-purchased-item-list: $min-width-purchased-item-name +
  $min-width-purchased-item-price + $min-width-purchased-item-type +
  $min-width-purchased-item-date + $min-width-purchased-item-select;

$height-purchased-item-cell: 60px;

$border-width-item-cell: 1px;

$purchased-item-input-padding: 8px;

@mixin purchased-item-style() {
  padding: 0 8px;
}
