$select-width: 100%;

.select {
  position: relative;
  width: $select-width;
}

.menu-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  &-skin {
    cursor: default;
  }
}

.menu-item {
  display: block;
  width: $select-width;
}

.menu-block {
  position: absolute;
  width: $select-width;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
}

.menu-overlay.close {
  visibility: hidden;
}
