@use '@/styles/colors.module.scss' as colors;

.container {
  display: flex;
  padding: 24px 0;
  margin-bottom: 16px;

  box-sizing: border-box;

  &-skin {
    border-bottom: 1px solid colors.$color-border-black;
  }
}

.date-block {
  padding: 0px 24px;
  margin: auto;

  &-skin {
    font-size: 2rem;
  }
}

.operation-block {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 8px;

  padding: 24px 0;
  margin-right: 24px;
}
