@use '@/styles/mixins.module.scss' as mixins;

@mixin theme-color {
  &.red {
    @include mixins.theme-primary-background-color-style(red);
  }
  &.purple {
    @include mixins.theme-primary-background-color-style(purple);
  }
  &.blue {
    @include mixins.theme-primary-background-color-style(blue);
  }
  &.cyan {
    @include mixins.theme-primary-background-color-style(cyan);
  }
  &.green {
    @include mixins.theme-primary-background-color-style(green);
  }
  &.yellow {
    @include mixins.theme-primary-background-color-style(yellow);
  }
  &.orange {
    @include mixins.theme-primary-background-color-style(orange);
  }
  &.gray {
    @include mixins.theme-primary-background-color-style(gray);
  }
}

.box-container {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.contents {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.box-knob {
  height: 100%;
  width: 4px;
  background-color: black;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  transition: background-color 100ms linear;

  &-dragging-skin {
    @include theme-color();
  }

  &-skin {
    cursor: col-resize;

    &:hover {
      transition: background-color 500ms ease-in-out;
      @include theme-color();
    }
  }
}
