.box-container {
  // align-items: stretch;
  background-color: blue;
  position: relative;
  box-sizing: border-box;
}

.contents {
  background-color: antiquewhite;
  position: relative;
  box-sizing: border-box;
}

.box-knob {
  width: 20px;
  content: '';
  position: absolute;
  height: 50px;
  top: 0;
  right: 0;
  box-sizing: border-box;
  &-skin {
    cursor: col-resize;
    background-color: aqua;
  }
}
