.box-container {
  display: flex;
  align-items: stretch;
  background-color: blue;
}

.contents {
  background-color: antiquewhite;
}

.box-knob {
  width: 4px;
  content: '';
  // position: relative;

  &-skin {
    cursor: col-resize;
    background-color: aqua;
  }
}
