@use '@/features/editors/components/styles/list-mixins.module.scss' as
  list-mixins;

@use '@/styles/functions.module.scss' as functions;

.container {
  display: flex;
  box-sizing: border-box;

  &-skin {
    &:nth-child(odd) {
      &.red {
        background-color: functions.primarySubSubColor(red);
      }
      &.purple {
        background-color: functions.primarySubSubColor(purple);
      }
      &.blue {
        background-color: functions.primarySubSubColor(blue);
      }
      &.cyan {
        background-color: functions.primarySubSubColor(cyan);
      }
      &.green {
        background-color: functions.primarySubSubColor(green);
      }
      &.yellow {
        background-color: functions.primarySubSubColor(yellow);
      }
      &.orange {
        background-color: functions.primarySubSubColor(orange);
      }
      &.gray {
        background-color: functions.primarySubSubColor(gray);
      }
    }
  }

  input {
    outline-width: list-mixins.$border-width-item-cell;
  }
}

.select-block {
  width: list-mixins.$width-purchased-item-select;
  height: list-mixins.$height-purchased-item-cell;
}

.name-block {
  flex: list-mixins.$flex-purchased-item-name;
  height: list-mixins.$height-purchased-item-cell;
}

.price-block {
  flex: list-mixins.$flex-purchased-item-price;
  height: list-mixins.$height-purchased-item-cell;
}

.type-block {
  flex: list-mixins.$flex-purchased-item-type;
  height: list-mixins.$height-purchased-item-cell;
}

.date-block {
  flex: list-mixins.$flex-purchased-item-date;
  height: list-mixins.$height-purchased-item-cell;
}
