@use './_palettes.module.scss' as palettes;

// 赤
$color-theme-red-primary: palettes.$palette-red-500;
$color-theme-red-primary-sub: palettes.$palette-red-300;
$color-theme-red-primary-sub-sub: palettes.$palette-red-100;
$color-theme-red-secondary: palettes.$palette-blue-500;

// 紫
$color-theme-purple-primary: palettes.$palette-purple-500;
$color-theme-purple-primary-sub: palettes.$palette-purple-300;
$color-theme-purple-primary-sub-sub: palettes.$palette-purple-100;
$color-theme-purple-secondary: palettes.$palette-cyan-500;

// 青
$color-theme-blue-primary: palettes.$palette-blue-500;
$color-theme-blue-primary-sub: palettes.$palette-blue-300;
$color-theme-blue-primary-sub-sub: palettes.$palette-blue-100;
$color-theme-blue-secondary: palettes.$palette-green-500;

// シアン
$color-theme-cyan-primary: palettes.$palette-cyan-500;
$color-theme-cyan-primary-sub: palettes.$palette-cyan-300;
$color-theme-cyan-primary-sub-sub: palettes.$palette-cyan-100;
$color-theme-cyan-secondary: palettes.$palette-yellow-500;

// 緑
$color-theme-green-primary: palettes.$palette-green-500;
$color-theme-green-primary-sub: palettes.$palette-green-300;
$color-theme-green-primary-sub-sub: palettes.$palette-green-100;
$color-theme-green-secondary: palettes.$palette-orange-500;

// 黄
$color-theme-yellow-primary: palettes.$palette-yellow-500;
$color-theme-yellow-primary-sub: palettes.$palette-yellow-300;
$color-theme-yellow-primary-sub-sub: palettes.$palette-yellow-100;
$color-theme-yellow-secondary: palettes.$palette-green-500;

// オレンジ
$color-theme-orange-primary: palettes.$palette-orange-500;
$color-theme-orange-primary-sub: palettes.$palette-orange-300;
$color-theme-orange-primary-sub-sub: palettes.$palette-orange-100;
$color-theme-orange-secondary: palettes.$palette-red-500;

// グレー
$color-theme-gray-primary: palettes.$palette-gray-500;
$color-theme-gray-primary-sub: palettes.$palette-gray-300;
$color-theme-gray-primary-sub-sub: palettes.$palette-gray-100;
$color-theme-gray-secondary: palettes.$palette-gray-800;

// input
$color-input-text: palettes.$palette-true-black;
$color-input-outline: palettes.$palette-blue-gray-800;

// sidebar-color
$color-sidebar-bg: palettes.$palette-gray-200;

// button
$color-btn-white: palettes.$palette-true-white;
$color-btn-text-white: palettes.$palette-true-white;
$color-btn-text-black: palettes.$palette-true-black;
$color-btn-text-gray: palettes.$palette-gray-500;

// text
$color-text-white: palettes.$palette-true-white;

// border
$color-border-black: palettes.$palette-true-black;
$color-border-gray: palettes.$palette-gray-500;
