@use './_palettes.module.scss' as palette;

$color-button-bg: palette.$palette-downy;
$color-button: palette.$palette-ocean-green;
$color-button-border: palette.$palette-ocean-green;

// 赤
$color-theme-red-primary: palette.$palette-red-500;
$color-theme-red-primary-sub: palette.$palette-red-300;
$color-theme-red-secondary: palette.$palette-blue-500;

// 紫
$color-theme-purple-primary: palette.$palette-purple-500;
$color-theme-purple-primary-sub: palette.$palette-purple-300;
$color-theme-purple-secondary: palette.$palette-cyan-500;

// 青
$color-theme-blue-primary: palette.$palette-blue-500;
$color-theme-blue-primary-sub: palette.$palette-blue-300;
$color-theme-blue-secondary: palette.$palette-green-500;

// シアン
$color-theme-cyan-primary: palette.$palette-cyan-500;
$color-theme-cyan-primary-sub: palette.$palette-cyan-300;
$color-theme-cyan-secondary: palette.$palette-yellow-500;

// 緑
$color-theme-green-primary: palette.$palette-green-500;
$color-theme-green-primary-sub: palette.$palette-green-300;
$color-theme-green-secondary: palette.$palette-orange-500;

// 黄
$color-theme-yellow-primary: palette.$palette-yellow-500;
$color-theme-yellow-primary-sub: palette.$palette-yellow-500;
$color-theme-yellow-secondary: palette.$palette-green-500;

// オレンジ
$color-theme-orange-primary: palette.$palette-orange-500;
$color-theme-orange-primary-sub: palette.$palette-orange-300;
$color-theme-orange-secondary: palette.$palette-red-500;

// グレー
$color-theme-gray-primary: palette.$palette-gray-500;
$color-theme-gray-primary-sub: palette.$palette-gray-300;
$color-theme-gray-secondary: palette.$palette-gray-800;
