// テーマ用の色
// 赤
$palette-red-500: #f44336;
$palette-red-300: #e57373;
$palette-red-100: #ffcdd2;
// 紫
$palette-purple-500: #9c27b0;
$palette-purple-300: #ba68c8;
$palette-purple-100: #e1bee7;
// 青
$palette-blue-500: #2196f3;
$palette-blue-300: #64b5f6;
$palette-blue-100: #bbdefb;
// シアン
$palette-cyan-500: #00bcd4;
$palette-cyan-300: #4dd0e1;
$palette-cyan-100: #b2ebf2;
// 緑
$palette-green-500: #4caf50;
$palette-green-300: #81c784;
$palette-green-100: #c8e6c9;
// 黄
$palette-yellow-500: #ffeb3b;
$palette-yellow-300: #fff176;
$palette-yellow-100: #fff9c4;
// オレンジ
$palette-orange-500: #ff9800;
$palette-orange-300: #ffb74d;
$palette-orange-100: #ffe0b2;
// 灰色
$palette-gray-800: #424242;
$palette-gray-500: #9e9e9e;
$palette-gray-300: #e0e0e0;
$palette-gray-200: #eeeeee;
$palette-gray-100: #f5f5f5;

// Blue Gray
$palette-blue-gray-800: #37474f;

// 黒
$palette-black: #000000;
