@use '@/styles/functions.module.scss' as functions;

.file-container {
  width: 100%;
  text-align: left;

  padding: 8px 0px 8px 16px;

  display: flex;
  align-items: center;

  &.red {
    background-color: rgba($color: functions.primaryColor(red), $alpha: 0.5);
  }
  &.purple {
    background-color: rgba($color: functions.primaryColor(purple), $alpha: 0.5);
  }
  &.blue {
    background-color: rgba($color: functions.primaryColor(blue), $alpha: 0.5);
  }
  &.cyan {
    background-color: rgba($color: functions.primaryColor(cyan), $alpha: 0.5);
  }
  &.green {
    background-color: rgba($color: functions.primaryColor(green), $alpha: 0.5);
  }
  &.yellow {
    background-color: rgba($color: functions.primaryColor(yellow), $alpha: 0.5);
  }
  &.orange {
    background-color: rgba($color: functions.primaryColor(orange), $alpha: 0.5);
  }
  &.gray {
    background-color: rgba($color: functions.primaryColor(gray), $alpha: 0.5);
  }

  &:not(.is-active) {
    background-color: transparent;
  }
}

.file-info-block {
  flex-grow: 1;
}

.file-info {
  height: 20px;

  &-skin {
    font-size: 12px;
  }
}

.file-name {
  height: 20px;

  &-skin {
    font-size: 16px;
    font-weight: 700;
  }
}

.file-path {
  height: 20px;
}

.dirty {
  height: 100%;
  padding: 8px;
  opacity: 0.5;
}

.close-btn-wrapper {
  margin-right: 8px;
}

.close {
  $close-size: 25px;
  $line-width: 2px;
  display: block;
  width: $close-size;
  height: $close-size;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: calc($close-size / 2);
    width: $close-size;
    height: $line-width;
  }

  &-skin {
    &::before,
    &::after {
      background: #6c6c6c;
    }
  }

  &::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
