@use '@/features/editors/components/styles/list-mixins.module.scss' as
  list-mixins;
@use '@/styles/functions.module.scss' as functions;
@use '@/styles/colors.module.scss' as colors;

.header-container {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  &.red {
    background-color: functions.primarySubColor(red);
  }
  &.purple {
    background-color: functions.primarySubColor(purple);
  }
  &.blue {
    background-color: functions.primarySubColor(blue);
  }
  &.cyan {
    background-color: functions.primarySubColor(cyan);
  }
  &.green {
    background-color: functions.primarySubColor(green);
  }
  &.yellow {
    background-color: functions.primarySubColor(yellow);
  }
  &.orange {
    background-color: functions.primarySubColor(orange);
  }
  &.gray {
    background-color: functions.primarySubColor(gray);
  }
}

.header {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  height: list-mixins.$height-purchased-item-cell;
  &-skin {
    outline: list-mixins.$border-width-item-cell solid
      colors.$color-border-black;
  }

  &-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: list-mixins.$width-purchased-item-select;
  }

  &-name {
    flex: list-mixins.$flex-purchased-item-name;
  }

  &-price {
    flex: list-mixins.$flex-purchased-item-price;
  }

  &-type {
    flex: list-mixins.$flex-purchased-item-type;
  }

  &-date {
    flex: list-mixins.$flex-purchased-item-date;
  }
}

.header-category-wrapper {
  padding-left: 10px;
}
