.operation-block {
  min-width: 80px;
  width: 300px;
  border: 2px solid black;
}

.category-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
  border: 2px solid black;
}

.condition-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
  border: 2px solid black;
}

.value-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
  border: 2px solid black;
}

.item-container {
  display: flex;
}

.remove-btn-block {
  width: 240px;
}
