.operation-block {
  min-width: 80px;
  width: 300px;
}

.category-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
}

.condition-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
}

.value-block {
  min-width: 80px;
  width: 300px;
  margin-left: 50px;
}

.item-container {
  display: flex;
}

.remove-btn-block {
  width: 240px;
}

.invalid-input {
  outline: 1px solid red;
}
