.operation-block {
  min-width: 80px;
  width: 300px;
}

.category-block {
  min-width: 80px;
  width: 300px;
  margin-left: 32px;
}

.condition-block {
  min-width: 80px;
  width: 300px;
  margin-left: 32px;
}

.value-block {
  min-width: 80px;
  width: 300px;
  margin-left: 32px;
}

.item-container {
  display: flex;
}

.remove-btn-block {
  width: 200px;
  margin-left: 32px;
}

.invalid-input-skin {
  outline: solid 1px red;
}
