@use '@/features/editors/components/styles/list-mixins.module.scss' as
  list-mixins;
@use '@/styles/colors.module.scss' as colors;

.select-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &-skin {
    outline: list-mixins.$border-width-item-cell solid
      colors.$color-border-black;
  }
}
