// color
$theme-color: #0b87d9;
$header-color: #0c5df8;
$text-color: #ffffff;
$button-color: #0bd9bc;

// button
$button-width-min: 100px;
$button-height-min: 40px;

// header
$header-height: 70px;

/**
#0C5DF8
12
93
248
97
#0B87D9
11
135
217
85
#19D2F0
25
210
240
94
#0BD9BC
11
217
188
85
#0CF895

*/
