// color
$theme-color: #ffff80;
$header-color: #ffff80;
$text-color: #f78540;

$button-bg-color: #ffac79;
$button-color: #f78540;
$button-border-color: #f78540;

$cell-border-color: #f78540;
$cell-border-color-outer: #f78540;

$header-text-color: #f78540;
$header-bg-color: #ffac79;

// button
$button-width-small: 100px;
$button-height-small: 40px;

// header
$header-height: 70px;

/**
#F0D035
240
208
53
94
#F7C140
247
193
64
97
#E09E46
224
158
70
88
#F78540
247
133
64
97
#ED5F3E
237
95
62


*/
