@use '@/styles/mixins.module.scss' as mixins;
@use '@/styles/functions.module.scss' as functions;
@use '@/styles/colors.module.scss' as colors;
@use '@/styles/variables.module.scss' as variables;

@mixin color-style($theme) {
  border-color: functions.primaryColor($theme);
  background-color: colors.$color-btn-white;
  color: functions.primaryColor($theme);

  &:hover {
    background-color: functions.primaryColor($theme);
    color: colors.$color-btn-text-white;
  }
}

@mixin color-disable-style {
  border-color: colors.$color-btn-disable;
  background-color: colors.$color-btn-white;
  color: colors.$color-btn-disable;
  cursor: default;

  &:hover {
    border-color: colors.$color-btn-disable;
    background-color: colors.$color-btn-white;
    color: colors.$color-btn-disable;
  }
}

.outline-btn {
  display: block;
  padding: variables.$base-button-padding-v variables.$base-button-padding-h;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;

  &-skin {
    &.red {
      @include color-style(red);
    }
    &.purple {
      @include color-style(purple);
    }
    &.blue {
      @include color-style(blue);
    }
    &.cyan {
      @include color-style(cyan);
    }
    &.green {
      @include color-style(green);
    }
    &.yellow {
      @include color-style(yellow);
    }
    &.orange {
      @include color-style(orange);
    }
    &.gray {
      @include color-style(gray);
    }

    &:disabled {
      @include color-disable-style();
    }
  }
}
