@use './_palettes.module.scss' as palette;

$color-button-bg: palette.$palette-downy;
$color-button: palette.$palette-ocean-green;
$color-button-border: palette.$palette-ocean-green;

$color-theme-red-primary: palette.$palette-red-500;
$color-theme-red-secondary: palette.$palette-red-300;
