@use './../../styles/_variable.module.scss' as *;
.purchased-list-footer-container {
  position: sticky;
  width: 100%;
  margin: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
