@use '@/styles/icons,.module.scss' as icons;
@use '@/styles/colors.module.scss' as colors;

.container {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: fit-content;

  gap: 8px;
}
.year-block {
  display: flex;
  justify-content: center;
  align-items: center;

  &-skin {
    color: colors.$color-text-white;
  }
}

.year {
  flex: 1;
  text-align: center;
  padding: 8px 0;

  &-skin {
    font-size: 1.25rem;
  }
}

$button-size: 18px;
.decrement-btn,
.increment-btn {
  margin: 0 16px;
}

.decrement-btn {
  @include icons.icon-arrow-left(
    $button-size,
    $button-size,
    colors.$color-text-white
  );
}

.increment-btn {
  @include icons.icon-arrow-right(
    $button-size,
    $button-size,
    colors.$color-text-white
  );
}

.month-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.month {
  height: 50px;
  width: 100px;

  &-skin {
    font-size: 1.25rem;
  }
}
