body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.contents-container {
  display: flex;
  height: 100vh;
  width: 100%;
}
.sidebar-block {
  height: 100%;
}
.editor-block {
  min-width: 300px;
  width: 100%;
  overflow-y: scroll;
}
