@use '@/styles/colors.module.scss' as colors;

.sidebar-contents {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  min-width: 300px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &-appearance {
    background-color: colors.$color-sidebar-bg;
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba($color: #ccc, $alpha: 0.5);
    }
  }
}
